<section id="sidenav" class="sidenav" fxLayout="column" fxFlex="100" fxLayoutAlign="start start">
  <div fxLayout="column" fxflex="100" fxLayoutAlign="start center" class="sidenavmenus">
    <div fxLayout="column" fxflex="100" fxLayoutAlign="start center" class="composemail">
      <button mat-raised-button  (click)="openDialog()">Compose</button>
    </div>
    <div fxLayout="column" fxflex="100" fxLayoutAlign="start start" class="mailfolder">
      <p>FOLDERS</p>
      <!-- <button mat-button routerLink="" routerLinkActive="active-link"><i class="material-icons">mail_outline</i>All Email</button> -->
      <button mat-button routerLink="/allmail" routerLinkActive="active-link"><i class="material-icons">inbox</i>Inbox</button>
      <button mat-button routerLink="/send" routerLinkActive="active-link"><i class="material-icons">send</i>Sent</button>
      <button mat-button routerLink="/draft" routerLinkActive="active-link"><i class="material-icons">drafts</i>Draft</button>
      <button mat-button routerLink="/important" routerLinkActive="active-link"><i class="material-icons">label</i>Important</button>
    </div>
  </div>
</section>

